.dashboard-container {
  margin-top: 5%;
  width: 100%;
  background-color: #555;
}
/*am folosit metoda ciocanitoare*/
.grid-layout {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
  background-color: #555;
}

.grid-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.middle {
  background-color: #555;
  color: #555;
  padding: 20px;
}

.grid-item.invisible {
  background-color: #555;
}

.card {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: 500px;
  min-width: 600px;
}

.progress-bar {
  width: 90%;
  height: 20px;
  background-color: #e9ecef;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #86bc25;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.card-text {
  text-align: center;
  margin: none;
}

.card-text-small {
  text-align: center;
  margin-top: none;
}

.inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  min-width: 300px;
}

.icon {
  font-size: 1.5rem;
  color: #155724;
  background-color: #d1e7dd;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-text {
  text-align: center;
  font-size: 1rem;
  color: #555;
}

@media (max-width: 1400px) {
  .card {
    min-width: 500px;
  }

  .grid-layout {
    grid-template-columns: 25% 50% 25%;
  }
  
.progress-bar {
  width: 80%;
  min-width: 150px;
  }
}



@media (max-width: 1000px) {
  .card {
    min-width: 300px;
  }

  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }

  .grid-item.middle {
    order: 1;
  }

  .grid-item.invisible {
    display: none;
  }
}
