.soloresource-details-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soloresource-card {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.soloresource-card h2 {
  font-size: 2rem;
  color: #333;
}

.soloresource-card p {
  font-size: 1.2rem;
  color: #555;
  white-space: pre-wrap;
}
