.inbox-container {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(
    -45deg,
    #1a1a1a,
    #333333,
    #0d1b2a,
    #1b263b
  ); /* Darker gradient */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid-layout-inbox {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
}

.grid-item-inbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-inbox.middle-inbox {
  color: #fff;
}

.grid-item-inbox.invisible-inbox {
  background-color: transparent;
}

.card-inbox {
  width: 100%;
  min-width: 800px; /* Ensure consistent width */
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 500px;
  color: #fff;
  animation: fadeInScale 0.5s ease-in-out;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.card-inbox:hover {
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.notifications-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; /* Ensure consistent width */
}

.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  margin-bottom: 10px;
  min-height: 60px;
  min-width: 700px;
}

.notification-item:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}

.notification-item span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-message {
  float: left;
  margin-left: 0;
}

.button-container-inbox {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  max-width: 100px;
  gap: 5px;
}

.button-inbox {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #86bc25;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
  text-decoration: none; /* Remove underline */
}

.button-inbox:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #76a520;
}

.accept-button {
  background-color: #86bc25;
  text-decoration: none; /* Remove underline */
  margin-right: 4px;
}

.reject-button {
  background-color: #dc3545;
}

.reject-button:hover {
  background-color: #c82333;
}

@media (max-width: 1400px) {
  .card-inbox {
    min-width: 500px;
  }

  .grid-layout-inbox {
    grid-template-columns: 25% 50% 25%;
  }
}

@media (max-width: 1000px) {
  .card-inbox {
    min-width: 300px;
  }

  .grid-layout-inbox {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }

  .grid-item-inbox.middle-inbox {
    order: 1;
  }

  .grid-item-inbox.invisible-inbox {
    display: none;
  }
}
