.solo-challenge-container {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(
    -45deg,
    #1a1a1a,
    #333333,
    #0d1b2a,
    #1b263b
  ); /* Darker gradient */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid-layout-solo {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 90%;
  gap: 20px;
}

.grid-item-solo {
  margin-top: 20px;
  padding: 20px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  animation: fadeInScale 0.5s ease-in-out;
}

.grid-item-solo.left-solo {
  background-color: rgba(45, 45, 45, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.grid-item-solo.right-solo {
  background-color: rgba(45, 45, 45, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.card-solo {
  width: 90%;
  max-width: 100%;
  max-height: 500px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.card-solo h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.card-solo p {
  font-size: 1rem;
  color: #fff;
  white-space: pre-wrap;
}
/* Custom scrollbar styling */
.card-solo::-webkit-scrollbar {
  width: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-solo::-webkit-scrollbar-track {
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-solo::-webkit-scrollbar-thumb {
  background-color: #0056b3; /* Dark blue color */
  border-radius: 16px;
  border: 3px solid rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
}

.card-solo::-webkit-scrollbar-thumb:hover {
  background-color: #004494; /* Darker blue on hover */
}

.language-display {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.language-display i {
  font-size: 1.5rem;
}

.timer-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.timer-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #86bc25;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.timer-button:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #0056b3;
}

.timer-button.pause {
  background-color: #ff6347;
}

.submit-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #28a745;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.submit-button:hover,
.save-button:hover {
  background-color: #218838;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.timer-time {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.recommended-resources {
  color: #fff;
}

.challenge-comments-section {
  width: 91%;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.challenge-comments-section:hover,
.comment-card:hover,
.grid-item-solo.left-solo:hover,
.grid-item-solo.right-solo:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.challenge-comments-header {
  display: flex;
  justify-content: space-between;
}

.edit-button,
.like-button,
.add-butotn,
.timer-button.start {
  background-color: #007bff;
}

.edit-button:hover,
.like-button:hover,
.add-button:hover,
.timer-button.start:hover {
  background-color: #0056b3;
}

.delete-button,
.cancel-button {
  background-color: #dc3545;
}

.delete-button:hover,
.cancel-button:hover {
  background-color: #c82333;
}

.timer-button.pause {
  background-color: #86bc25;
}

.timer-button.pause:hover {
  background-color: #76a520;
}

.like-button {
  margin-top: -75px;
}
