.landing-page-container {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(
    -45deg,
    #1a1a1a,
    #333333,
    #0d1b2a,
    #1b263b
  ); /* Darker gradient */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid-layout-landing {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: auto;
}

.grid-item-landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-landing.middle-landing {
  color: #fff;
}

.grid-item-landing.invisible-landing {
  background-color: transparent;
}

.card-landing {
  padding: 20px;
  width: 100%;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 500px;
  min-width: 600px;
  color: #fff;
  animation: fadeInScale 0.5s ease-in-out;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.card-landing:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tab-buttons {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid transparent;
  background-color: #d1caca;
  cursor: pointer;
}

.tab-button.active {
  background-color: #0056b3;
  color: white;
}

.tab-button:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.content-list {
  width: 100%;
}

.list-landing {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item-landing {
  padding: 10px;
  border: 1px solid transparent;
  background-color: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.list-item-landing:hover {
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}

.list-item-placeholder {
  padding: 10px;
  background-color: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.pagination-button:disabled {
  background-color: rgba(84, 83, 83, 0.2);
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}

@media (max-width: 1400px) {
  .card-landing {
    min-width: 500px;
  }

  .grid-layout-landing {
    grid-template-columns: 25% 50% 25%;
  }
}

@media (max-width: 1000px) {
  .card-landing {
    min-width: 300px;
  }

  .grid-layout-landing {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }

  .grid-item-landing.middle-landing {
    order: 1;
  }

  .grid-item-landing.invisible-landing {
    display: none;
  }
}

.landing-page-container .tab-button {
  border-radius: 0px;
  color: #000;
}

.landing-page-container .tab-button.active {
  background-color: #0056b3;
  color: white;
}
.landing-page-container .tab-button.active:hover {
  background-color: #004494;
}

.landing-page-container .tab-button.inactive:hover {
  background-color: #a7a6a6;
}
