.user-page-container,
.loading-container {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #1a1a1a,
    #333333,
    #0d1b2a,
    #1b263b
  ); /* Darker gradient */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.user-page-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
}

.user-profile-card,
.friends-section,
.search-section,
.admin-section {
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  color: #fff;
  animation: fadeInScale 0.5s ease-in-out;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  overflow: auto;
  max-height: 500px;
}
.admin-section {
  width: 40%;
}

.user-profile-card:hover,
.friends-section:hover,
.search-section:hover,
.admin-section:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.user-profile-card h2,
.admin-section h3 {
  margin-bottom: 20px;
  color: #fff;
}

.user-profile-details p {
  font-size: 1rem;
  margin: 10px 0;
  color: #fff;
}

.user-edit-form label {
  display: block;
  margin: 10px 0;
  text-align: left;
  color: #fff;
}

.user-edit-form input,
.search-section input,
.admin-search-bar input {
  width: 100%;
  padding: 10px;
  margin-left: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  color: #fff;
  animation: fadeInScale 0.5s ease-in-out;
}

.admin-search-bar input {
  margin-bottom: 20px;
}

.user-actions,
.admin-search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.save-button,
.cancel-button,
.search-results button,
.button-edit,
.button-save,
.button-cancel {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
  text-decoration: none; /* Remove underline */
}

.save-button {
  background-color: #28a745;
}

.cancel-button {
  background-color: #dc3545;
}

.search-section button {
  background-color: #007bff;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li,
.friends-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 60px;
}

.search-results li:hover,
.friends-section li:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.5); /* Slight shine effect */
}
.search-results button,
.button-edit,
.button-save {
  padding: 5px 10px;
  /* font-size: 0.9rem; */
  background-color: #28a745;
}

.search-results button:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #218838;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center; /* Center text horizontally */
  vertical-align: middle; /* Center text vertically */
}

.promote-button,
.demote-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
  text-decoration: none; /* Remove underline */
}

.promote-button:hover,
.demote-button:hover,
.button-edit:hover,
.button-save:hover,
.button-cancel:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.promote-button,
.button-edit,
.button-save {
  background-color: #28a745;
}

.promote-button:hover,
.button-edit:hover,
.button-save:hover {
  background-color: #218838;
}

.demote-button,
.button-cancel {
  background-color: #dc3545;
}

.demote-button:hover,
.button-cancel:hover {
  background-color: #c82333;
}

@media (max-width: 1400px) {
  .user-profile-card,
  .friends-section,
  .search-section,
  .admin-section {
    min-width: 500px;
  }
}

@media (max-width: 1000px) {
  .user-page-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }
}
