.challenges-container {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(
    -45deg,
    #1a1a1a,
    #333333,
    #0d1b2a,
    #1b263b
  ); /* Darker gradient */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid-layout-challenges {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
}

.grid-item-challenges {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-challenges.middle-challenges {
  color: #fff;
}

.grid-item-challenges.invisible-challenges {
  background-color: transparent;
}

.main-container-challenges {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-bar-challenges {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input-challenges {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  color: #fff;
}

.search-input-challenges:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.1); /* Slight shine effect */
}

.list-container-challenges {
  width: 100%;
  min-width: 600px; /* Ensure consistent width */
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 500px;
  color: #fff;
  animation: fadeInScale 0.5s ease-in-out;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.list-challenges {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; /* Ensure consistent width */
}

.list-item-challenges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  margin-bottom: 10px;
  min-height: 60px;
}

.list-item-challenges:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.1); /* Slight shine effect */
}

.list-item-challenges span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-challenges span:nth-child(1) {
  max-width: 80%;
}

.list-item-challenges span:nth-child(2),
.list-item-challenges span:nth-child(3) {
  max-width: 10%;
}

.button-container-challenges {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
  gap: 5px;
}

.list-item-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  height: 5px;
  visibility: hidden;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.pagination-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.pagination-button:disabled {
  background-color: rgba(45, 45, 45, 0.2);
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.1); /* Slight shine effect */
}

.button-container-challenges {
  display: flex;
  gap: 10px;
}

.button-challenges {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.button-challenges:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.1); /* Slight shine effect */
}

.solo-button {
  background-color: #86bc25;
}

.solo-button:hover {
  background-color: #76a520;
}

.friend-button {
  background-color: #007bff;
}

.friend-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.button-add {
  padding: 12px 20px;
  background: rgba(45, 45, 45, 0.5); /* Darker gray with transparency */
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); /* Reduced blur for less prominence */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.button-add:hover {
  background-color: #218838;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.1); /* Slight shine effect */
}

/*Modal*/
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-body form .form-label {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.modal-body form .form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

.modal-body form .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.modal-body form .form-control.select {
  cursor: pointer;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: rgba(45, 45, 45, 0.5);
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.filter-dropdown:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(45, 45, 45, 0.1); /* Slight shine effect */
}

.filter-dropdown option {
  background: rgba(45, 45, 45, 0.5);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
}

.filter-dropdown option:hover {
  background: rgba(45, 45, 45, 0.7);
}
