.challenges-container {
  margin-top: 5%;
  width: 100%;
  background-color: #555;
}

.grid-layout-challenges {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 100%;
  background-color: #555;
}

.grid-item-challenges {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-challenges.middle-challenges {
  background-color: #555;
  color: #555;
  padding: 20px;
}

.grid-item-challenges.invisible-challenges {
  background-color: #555;
}

.main-container-challenges {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-bar-challenges {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input-challenges {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.list-container-challenges {
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px;
  display: flex;
  flex-direction: column;
}

.list-challenges {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-item-challenges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 60px;
}

.list-item-challenges span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-challenges span:nth-child(1) {
  max-width: 80%;
}

.list-item-challenges span:nth-child(2),
.list-item-challenges span:nth-child(3) {
  max-width: 10%;
}

.button-container-challenges {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
  gap: 5px;
}

.list-item-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  height: 5px;
  visibility: hidden;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.pagination-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-container-challenges {
  display: flex;
  gap: 10px;
}

.button-challenges {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.solo-button {
  background-color: #86bc25;
  color: #fff;
}

.solo-button:hover {
  background-color: #76a520;
  color: #fff;
  transition: background-color 0.3s ease;
}

.friend-button {
  background-color: #007bff;
  color: #fff;
}

.friend-button:hover {
  background-color: #0056b3;
  color: #fff;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.delete-button:hover {
  background-color: #c82333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button-add {
  padding: 12px 20px;
  background-color: #28a745;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-add:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.button-add:active {
  transform: scale(0.95);
}

/*Modal*/
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-body form .form-label {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.modal-body form .form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

.modal-body form .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.modal-body form .form-control.select {
  cursor: pointer;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
}
